body, html{
    align-items: center;
    margin:0;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
img
{
    height:200px;
    width:200px;
}