.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* text-align: start; */
}

.MainContent h1 {
  padding-top: 1rem;
  width: auto;
  font-size: 70px;
  font-weight: 200;
  margin: 0;
}

.MainContent h2,
h3,
p,
small {
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: 100;
}

.MainContent h2 {
  font-size: 24px;
}

.MainContent h3 {
  font-size: 20px;
}

.MainContent p {
  font-size: 15px;
}

.MainContent {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 10rem;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(194, 194, 194);
}



.footerWrapper {
  position: fixed;
  border-top: 2px solid rgb(194, 194, 194);
  background: #61dbfb;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  bottom: 0%;
  left: 0%;
  text-align: center;
}

.CardWrapper
{
  display: flex;
  flex-direction: column;
  border: 10px solid rgb(162, 162, 162);
  box-shadow: 0px 0px 10px 10px rgb(162, 162, 162);
  padding: 10rem 16rem;
  gap:3.5rem;
  margin: 10rem auto;
  border-radius: 15px ; 
  width: 250px;
  height: 200px;
}
  
.Card p {
  padding:  1rem 10rem;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
}

button
{
  margin-top:23rem;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border:1px;
  color: white;
  border-radius: 8px;
  background: #61dbfb;
}

img{
  width:100px;
  height: 50px;
}