@font-face {
  font-family: 'Cairo';
  src: local('Cairo'), url(./fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf) format('truetype');
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Cairo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}
