nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #1b2430; */
    padding: 20px 40px;
    padding-right: 80px;
    box-shadow: 0 .1px  4px rgba(0, 0, 0, 06);

}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar li 
{    
    list-style: none;    
    padding: 0 20px;
    position: relative;
}

.navbar li a
{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease-in-out;
}

.navbar li a:hover
{
    color:rgb(78, 2, 153);  
    transition: 0.3 ease-in-out;
}

.navbar li a:hover::after
{
    content: "";
    width: 30%;
    height:2px ;
    background: rgb(78, 2, 153);
    position: absolute;
    bottom: -4px;
    left: 20px;
}