body, html {
    height: 100%;
    margin:0;
    font-family: 'Montserrat';
}
h1
{
    font-weight: 200;
    
}

#root
{
    background:rgb(153, 233, 249);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start; 
    gap:1rem;
    width: auto;
    height: 10rem;
    padding: 4rem;
    top: 100%;
    /* margin: 2rem; */
    border-radius: 1rem;
    text-align: center;
}

input{
    height: 40px;
    border: 1rem ;
    width: 10rem;
    border-radius: 1rem ;
    background: rgb(243, 243, 243);
}
