.App {
  text-align: center;
}

#root {

  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.MainWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Colors {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 3px;
  height: 100px;
  width: 900px;
}

h1 {
  font-weight: 900;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

li {
  font-size: 26px;
  font-weight: 400;
  list-style-type: none;
  color: rgb(255, 243, 243);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  /* padding: 10px 0px; */
  height: 90px;
  width: 180px;
  border-radius: .2rem;
}

/* // to be changed later */

/* @media (max-width: 900px) {
  .Numbers {
    flex-direction: column;
  }
} */